* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
  font-size: calc(16px + 6 * (100vw - 320px) / 1200);
}

body {
  height: 100%;
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: 1.1;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 0.04em;
    text-decoration-thickness: var(--border-width);
  }
}

p {
  font-size: var(--font-s);
  line-height: 1.2;
  margin-top: 0;

  a {
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 0.04em;
    text-decoration-thickness: var(--border-width);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.content {
  h2 {
    font-size: var(--font-l);
    margin-bottom: 1rem;
  }
}
