:root {
  --font-sans: sans-serif;

  --font-s: 0.8rem;
  --font-m: 1rem;
  --font-l: 1.4rem;
  --font-xl: 1.3rem;

  --spacing-sitepadding: 1.2rem;
  --border-width: 0.12em;

  // colors
  --color-orange: #e25615;
  --color-blue: #1e1253;
  --color-black: #111;
  --color-white: #eee;
}

body {
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-highlight: var(--color-orange);
}

@media (max-width: 800px) {
  :root {
    --font-l: 1.2rem;
    --font-m: 1rem;
    --spacing-m: 0.6rem;
  }
}
