@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;600&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --font-sans: "Work Sans", sans-serif;
  --font-body: "DM Sans", sans-serif;

  --font-size-s: 0.8rem;
  --font-size-m: 1rem;
  --font-size-l: 1.65rem;
  --font-size-xl: 2.4rem;

  --spacing-sitepadding: 2rem;
  --spacing-sectionpadding: 4rem;
  --border-width: 6px;

  // colors
  --color-orange: #e94a16;
  --color-lightorange: #f0a88f;
  --color-yellow: #ffc069;
  --color-blue: #006fa5;
  --color-lightblue: #a9deeb;
  --color-darkblue: #000c44;
  --color-black: #000;
  --color-white: #fff;
}

body {
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-highlight: var(--color-orange);
}

@media (max-width: 900px) {
  :root {
    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 2rem;

    --spacing-sitepadding: 1rem;
    --spacing-sectionpadding: 2rem;
    --border-width: 6px;
  }
}
